*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 110, 212);
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container{
    padding: 10px;
}
.calculator-box{    
    width: 100%;
    background-color: rgb(6, 159, 248);
    text-align: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    backdrop-filter: 5px;
    padding: 20px;
    border: 2px solid skyblue ;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.calculator-box h1{
    margin-bottom: 20px;
    background: none;
    color: rgb(212, 212, 212);
}
::placeholder{
    color: rgb(142, 214, 243);
}
.result{
    color: white;
    background: none;
}
#display{
    margin-bottom: 10px;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    &:focus{
        outline: none;
    }
}
.result input{
    text-align: center;
    width: 100px;
    background: none;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    font-size: 20px;
    margin: 8px;
    color: whitesmoke;
    &:focus{
        outline: none;
        box-shadow: 0 0 10px 3px rgb(26, 184, 247);
    }
}
.oparators{
    margin-top: 18px;
    background: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.btn{
    width: 60px;
    height: 60px;
    font-size: 1.8rem;
    font-weight: 300;
    border: 0.1px solid rgb(168, 225, 248);
    cursor: pointer;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(49, 195, 253);
    color: rgb(0, 17, 255);
    translate: transform;
    transition: 0.2s all ease-in-out;
    &:hover{
        background-color: rgb(0, 89, 255);
        color: whitesmoke;
        transform: scale(1.1);
    }
}